/* Fonts */

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #EE3643;
  --basic-red-extra: #CA2C37;
  --basic-red-dark: #BA2732;
  --basic-beige: #F9F5F0;
  --basic-yellow: #FFD180;
  --basic-grey: #3D546F;
  --basic-green: #63A63E;

  --basic-blue-dark: #293449;
  --basic-blue-navy: #32425C;
  --basic-green-dark: #367315;
  --basic-green-dark-extra: #518534;
  --basic-grey-light: #F1F5F7;
  --basic-grey-dark: #A9A9A9;
  --basic-grey-dark-transparent: rgba(169, 169, 169, 0.3);
  --basic-beige-light: #F4F4F4;

  --basic-background: #F1F5F7;

  --basic-blue-dark-extra: #212A3A;

  --basic-gray-transparent: rgba(255, 255, 255, 0.3);
  --basic-black-transparent: rgba(0, 0, 0, 0.25);

  --advantages-yellow: #FFBF47;
  --advantages-blue-light: #3BBCE3;
  --advantages-pink: #DC91D8;
  --advantages-green-light: #8ED78F;
  --advantages-orange: #FFC047;

  --input-grey: #C5C5C5;
  --input-grey-transparent: rgba(197, 197, 197, 0.3);

  --success: #5FBB2D;

  --filter-background: #F7F3EC;
}

/* Global */

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.link:hover {
  background-color: var(--basic-red-extra);
}

.link:active {
  background-color: var(--basic-red-dark);
}

.popular-top {
  background-color: var(--basic-beige);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 14px 25px 28px;
}

.popular__title {
  color: var(--basic-blue-navy);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.buy {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  text-transform: uppercase;
}

.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: var(--basic-green-dark-extra);
}

.bookmarks {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  color: var(--basic-blue-navy);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.bookmarks:hover {
  border-color: var(--basic-blue-navy);
}

.bookmarks:active {
  opacity: 0.5;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-black-transparent);
  padding: 13px 56px;
  display: inline-block;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Grid */

.page {
  height: 100%;
}

.index-columns>.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

/* Header */

.header {
  background-color: var(--basic-grey-light);
  margin-bottom: 60px;
}

.header-bar {
  background-color: var(--basic-blue-dark);
}

.header-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
}

.header-container > div {
  display: flex;
  justify-content: space-between;
}

.header-top {
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  width: 940px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top div {
  display: flex;
  align-items: center;
}

.header-top a {
  color: inherit;
}

.header-form input {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 9px 18px;
}

.header-form input::placeholder {
  color: inherit;
}

.header-form input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header__bookmarks {
  display: inline-block;
  padding: 9px 18px;
}

.header__bookmarks:active {
  background-color: var(--basic-blue-dark-extra);
  color: var(--basic-gray-transparent);
}

.header__cart {
  display: inline-block;
  padding: 9px 18px;
}

.header__cart:active {
  color: var(--basic-gray-transparent);
}

.header__cart--active {
  background-color: var(--basic-red);
}

.header__checkout {
  background-color: var(--basic-green);
  display: inline-block;
  padding: 9px 18px;
}

.header__checkout:hover {
  background-color: var(--success);
}

.header__checkout:active {
  background-color: var(--basic-green);
  color: var(--basic-gray-transparent);
}

.header__title {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  font-weight: 700;
  font-style: italic;
  padding-left: 30px;
  margin: 0;
}

.header__phone {
  border: 3px solid var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.header__address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-navy);
  margin: 0;
}

.header__login {
  background-color: var(--basic-white);
  font-size: 21px;
  color: var(--basic-black);
  padding: 12px 24px;
  margin-right: 10px;
}

.header__login:hover {
  color: var(--basic-red);
}

.header__login:active {
  color: var(--input-grey);
}

.header__registration {
  background-color: var(--basic-white);
  font-size: 21px;
  color: var(--basic-black);
  padding: 12px 24px;
}

.header__registration:hover {
  color: var(--basic-red);
}

.header__registration:active {
  color: var(--input-grey);
}

.header-nav {
  background-color: var(--basic-blue-navy);
  box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
  margin-top: 40px;
}

.header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-list__item a {
  color: var(--basic-white);
  display: inline-block;
  padding: 16px 25px 20px 25px;
}

.header-list__item a:hover {
  background-color: var(--basic-blue-dark);
}

.header-list__item a:active {
  color: var(--basic-gray-transparent);
}

.header__username {
  background-color: var(--basic-white);
  color: var(--basic-black);
  display: inline-block;
  padding: 12px 20px;
  font-size: 21px;
  line-height: 21px;
}

.header__username:active {
  color: var(--input-grey);
}

.header__logoff {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Advantages */

.advantages {
  color: var(--basic-white);
  margin-bottom: 60px;
}

.advantages-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 123px 266px;
  gap: 20px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advantages-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
}

.advantages-item {
  height: 123px;
}

.advantages-list .advantages-item:nth-of-type(1) {
  background-color: var(--advantages-yellow);
}

.advantages-list .advantages-item:nth-of-type(2) {
  background-color: var(--advantages-blue-light);
}

.advantages-list .advantages-item:nth-of-type(3) {
  background-color: var(--advantages-pink);
}

.advantages-list .advantages-item:nth-of-type(4) {
  background-color: var(--advantages-green-light);
  grid-column: 3 / 4;
}

.advantages-list .advantages-item:nth-of-type(5) {
  background-color: var(--advantages-orange);
  grid-column: 3 / 4;
}

.advantages-item__title {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.advantages-item__link {
  background-color: var(--basic-gray-transparent);
  display: inline-block;
  padding: 10px 20px;
}

.advantages-item__link:hover {
  background-color: var(--input-grey-transparent);
}

.advantages-item__link:active {
  background-color: var(--basic-black-transparent);
}

.advantages-item__label {
  font-size: 14px;
  line-height: 28px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.advantages-slide {
  background-repeat: no-repeat;
  background-color: var(--basic-black-transparent);
  display: none;
}

.advantages-slide--active {
  display: block;
}

.advantages-slide:nth-child(1) {
  background-image: url(../img/advantages/slider/1.jpg);
  height: 266px;
}

.advantages-slide:nth-child(2) {
  background-image: url(../img/advantages/slider/2.jpg);
}

.advantages-slide__title {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  margin: 0;
}

.advantages-slide__link {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 45px;
}

/* Goods */

.goods {
  margin-bottom: 70px;
}

.goods__link {
  padding: 10px 24px;
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.goods-item {
  border: 1px solid var(--basic-grey-light);
  background-color: var(--basic-white);
}

.goods-item__label {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.goods-item__title {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.goods-item__price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.goods-item__price_old {
  color: var(--basic-grey-dark);
}

.goods-item__price_new {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.goods-item__label {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Manufacturers */

.manufacturers {
  margin-bottom: 70px;
}

.manufacturers__link {
  padding: 10px 24px;
}

.manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers-item {
  border: 1px solid var(--basic-grey-light);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Services */

.services {
  background-color: var(--basic-background);
  padding-top: 60px;
  margin-bottom: 70px;
}

.services-content {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services__title {
  grid-column: 1 / -1;
  margin-bottom: 25px;
}

.services__text {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.tabs-caption {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-caption__item a {
  display: inline-block;
  width: 240px;
  padding: 14px 0 17px 22px;
  background-color: var(--basic-blue-navy);
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  font-weight: 700;
}

.tabs-caption__item a:hover {
  background-color: var(--basic-blue-dark);
}

.tabs-caption__item--active a {
  background-color: var(--basic-white);
  color: var(--basic-blue-navy);
}

.tabs-caption__item--active a:hover {
  background-color: var(--basic-white);
}

.tabs-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-content__title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-navy);
  text-transform: uppercase;
  margin: 0;
}

.tabs-content__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.tabs-content__item {
  background-repeat: no-repeat;
  margin-left: 80px;
  display: none;
}

.tabs-content__item--active {
  display: block;
}

.tabs-content__item:nth-child(1) {
  background-image: url(../img/services/delivery.png);
}

.tabs-content__item:nth-child(2) {
  background-image: url(../img/services/guarantee.png);
}

.tabs-content__item:nth-child(3) {
  background-image: url(../img/services/credit.png);
}

/* About */

.about__title {
  margin-bottom: 25px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about__link {
  padding: 9px 40px;
}

/* Contacts */

.contacts__title {
  margin-bottom: 25px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__link {
  display: block;
  text-align: center;
  padding: 9px 0;
  margin-top: 25px;
}

/* Footer */

.footer-content--navy {
  background-color: var(--basic-blue-navy);
  padding-bottom: 55px;
}

.footer-content--navy > .container {
  display: flex;
  justify-content: space-between;
}

.footer-content--dark {
  background-color: var(--basic-blue-dark);
}

.footer-content--dark > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
  padding: 20px 55px 25px 55px;
}

.footer__info {
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  margin-top: 22px;
}

.footer__info a {
  color: inherit;
}

.footer-menu {
  padding-top: 37px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-list:nth-of-type(2) {
  padding-left: 24px;
  margin-top: 34px;
}

.footer-list:nth-of-type(1) .footer-list__item a {
  color: var(--basic-background);
}

.footer-list:nth-of-type(2) .footer-list__item a {
  color: var(--basic-yellow);
}

.footer-list__item {
  margin-right: 58px;
}


.footer-list__item:last-child {
  margin-right: 0;
}

.footer-list__item a:hover {
  text-decoration: underline;
}

.footer-list__item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-socials {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-socials__item {
  background: linear-gradient(0deg, var(--basic-blue-dark-extra), var(--basic-blue-dark-extra));
  border-radius: 50%;
}

.footer-socials__item:hover {
  background: var(--basic-red);
}

.footer-socials__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.footer-content--dark > .container div {
  display: flex;
  justify-content: flex-end;
}

.footer__feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer__feedback a {
  display: block;
  color: var(--basic-yellow);
}

.footer__feedback a:hover {
  text-decoration: underline;
}

.footer__feedback a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer__developed {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin-left: 50px;
}

.footer__developed a {
  display: block;
  color: var(--basic-yellow);
}

.footer__developed a:hover {
  text-decoration: underline;
}

.footer__developed a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Modal */

.modal {
  display: none;
}

.modal-close {
  background: none;
  border: none;
}

/* Modal letter */

.letter-form__input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--input-grey);
  border-radius: 2px;
}

.letter-form__input::placeholder {
  color: #A9A9A9;
}

.letter-form__textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--input-grey);
  border-radius: 2px;
}

.letter-form__textarea::placeholder {
  color: var(--basic-grey-dark);
}

.letter-form__button {
  background-color: var(--basic-beige-light);
}

.letter-form__button button {
  border: none;
}

/* Catalog */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.catalog-header {
  margin-bottom: 20px;
}

.catalog__title {
  grid-column: 1 / -1;
  color: var(--basic-blue-navy);
  background-color: var(--basic-background);
  margin-bottom: 20px;
  padding: 30px;
}

/* Header */

.header-menu {
  list-style: none;
}

.header-menu__item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-navy);
}

.header-menu__item a:hover {
  color: var(--basic-red);
}

.header-menu__item a:active {
  color: var(--input-grey)
}

.breadcrumbs-list {
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
}

.breadcrumbs-list__item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-right: 17px;
}

.breadcrumbs-list__item a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/* Filter */

.filter {
  font-family: 'PT Sans', Arial, sans-serif;
}

.filter li {
  list-style: none;
}

.filter__title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--filter-background);
  margin: 0;
  padding: 0;
  padding: 10px 18px;
  margin-bottom: 15px;
}

.filter-block {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--basic-black-transparent);
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.filter-block:last-of-type {
  border: none;
  padding: 0;
  margin-bottom: 35px;
}

.filter-block input[type="number"] {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--filter-background);
  border: none;
  max-width: 95px;
  padding: 10px 0;
}

.filter-block__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-block__range span {
  font-size: 16px;
  line-height: 18px;
}

.filter-block__caption {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter-manufacturers {
  margin: 0;
  padding: 0;
}

.filter-manufacturers__item {
  margin-bottom: 15px;
}

.filter-manufacturers__item:last-child {
  margin-bottom: 0;
}

.filter-manufacturers label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-power {
  margin: 0;
  padding: 0;
}

.filter-power__item {
  margin-bottom: 15px;
}

.filter-power__item:last-child {
  margin-bottom: 0;
}

.filter-power label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-form__button {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--input-grey);
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.filter-form__button:hover {
  border-color: var(--basic-grey-dark);
}

/* Sorting */

.sorting {
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: var(--filter-background);
  margin-bottom: 28px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-controls {
  display: flex;
}

.sorting__title {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-list__item {
  margin-right: 65px;
}

.sorting-list__item:last-child {
  margin-right: 45px;
}

.sorting-list__item a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-transparent);
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-list__item--active a {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-list__item a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-list__item--active a:hover {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-button--up {
  margin-right: 20px;
}

/* Goods */

.catalog-wrapper .goods-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Pagination */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
}

.pagination-list__item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
}

.pagination-list__item--active {
  background-color: var(--basic-red);
}

.pagination-list__item a {
  color: var(--basic-black);
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--input-grey);
  border-radius: 2px;
}

.pagination-list__item:last-child a {
  margin-right: 0;
  text-transform: uppercase;
  width: auto;
  padding: 0 30px;
}

.pagination-list__item--active a {
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
}

.pagination-list__item a:hover {
  border-color: var(--basic-grey-dark);
}

.pagination-list__item a:active {
  border-color: var(--basic-red);
}

.pagination-list__item--active a:hover {
  border-color: var(--basic-red);
}

/* About-tool */

.about-tool {
  background-color: var(--basic-grey-light);
  margin-top: 60px;
  padding: 65px 0;
}

.about-tool__title {
  margin-bottom: 25px;
}

/* Modal-success */

.modal-success div {
  background-color: var(--basic-beige-light);
}

.modal-success__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal-success__button {
  background-color: var(--basic-white);
  border: none;
  color: var(--basic-black);
}
